options {
    listen-on port 53 { any; };
    listen-on-v6 port 53 { none; };
    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";

    allow-query { any; };
    recursion yes;

    dnssec-enable no;
    dnssec-validation no;
};

zone "lab.local" IN {
    type master;
    file "db.lab.local";
};
